.nav-item {
  color: black;
  font-size: 16px;
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}

.nav-item:hover::before {
  width: 100%;
}
